@using TravelSite.Models.Account
@{
	ViewData["Title"] = "Register";
}
@model RegisterViewModel
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="https://cdn.tutorialjinni.com/font-awesome/6.6.0/js/fontawesome.js"></script>
<script src="~/lib/datepicker-bs4/datepicker-bs4.js"></script>

@* <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment-with-locales.min.js"></script>

<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.min.js"></script>

<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css"> *@

<label class="fs-5 mb-1">Регистрация нового пользователя</label>

@{
	var maxDate = DateTime.UtcNow.Date.AddYears(-18).AddDays(-1);
	var minDate = DateTime.UtcNow.Date.AddYears(-100).AddDays(-1);
}

@if (User.IsInRole("Admin"))
{
	<form class="frm" method="post" asp-controller="Account" asp-action="Register">
		<div asp-validation-summary="ModelOnly" />
		<p class="form-check-inline">
			@if (Model is not null)
			{
				@if (Model.Roles.Count != 0)
				{
					@for (int i = 0; i < Model.Roles.Count; i++)
					{
						<td>
							@Html.CheckBoxFor(model => model.Roles[i].IsChecked, new { @class = "form-check-input m-1" })
							<lable class="tag-margin">@Model.Roles[i].Name</lable>
							@Html.HiddenFor(model => model.Roles[i].Id)
							@Html.HiddenFor(model => model.Roles[i].Name)
						</td>
					}
				}
			}
		</p>
		<div>
			<div class="mb-3">
				<input asp-for="FirstName" class="form-control" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
		</div>
		<div>
			<div class="mb-3">
				<input asp-for="LastName" class="form-control" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
		</div>
		<div>
			<div class="mb-3">
				<input asp-for="EmailReg" class="form-control" />
				<span asp-validation-for="EmailReg" class="text-danger"></span>
			</div>
		</div>
		<div>
			<div class="mb-3">
				<input asp-for="PasswordReg" class="form-control" />
				<span asp-validation-for="PasswordReg" class="text-danger"></span>
			</div>
		</div>
		<div>
			<div class="mb-3">
				<input asp-for="PasswordConfirm" class="form-control" />
				<span asp-validation-for="PasswordConfirm" class="text-danger"></span>
			</div>
		</div>
		<label for="inputDate" class="form-label">Дата рождения</label>
		<div class="mb-3">
			<input asp-for="BirthDate" class="form-control" value="@maxDate.AddYears(-10).ToString("yyyy-MM-dd")" type="date" min="@minDate.ToString("yyyy-MM-dd")" max="@maxDate.ToString("yyyy-MM-dd")" id="date" style="max-width:fit-content" />
			<span asp-validation-for="BirthDate" class="text-danger"></span>
		</div>
		<label class="form-label">Ключ для почты</label>
		<div>
			<div class="mb-3">
				<input asp-for="EmailKey" class="form-control" />
				<span asp-validation-for="EmailKey" class="text-danger"></span>
			</div>
		</div>
		<div>
			<input class="btn btn-success" type="submit" value="Зарегистрироваться" />
		</div>
	</form>
}
else
{
	<form class="frm" method="post" asp-controller="Account" asp-action="Register">
		<div asp-validation-summary="ModelOnly" />
		<div>
			<div class="mb-3">
				<input asp-for="FirstName" class="form-control" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
		</div>
		<div>
			<div class="mb-3">
				<input asp-for="LastName" class="form-control" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
		</div>
		<div>
			<div class="mb-3">
				<input asp-for="EmailReg" class="form-control" />
				<span asp-validation-for="EmailReg" class="text-danger"></span>
			</div>
		</div>
		<div>
			<div class="mb-3">
				<input asp-for="PasswordReg" class="form-control" />
				<span asp-validation-for="PasswordReg" class="text-danger"></span>
			</div>
		</div>
		<div>
			<div class="mb-3">
				<input asp-for="PasswordConfirm" class="form-control" />
				<span asp-validation-for="PasswordConfirm" class="text-danger"></span>
			</div>
		</div>
		<label for="inputDate" class="form-label">Дата рождения</label>
		<div class="mb-3">
			<input asp-for="BirthDate" class="form-control" value="@maxDate.AddYears(-10).ToString("yyyy-MM-dd")" type="date" min="@minDate.ToString("yyyy-MM-dd")" max="@maxDate.ToString("yyyy-MM-dd")" id="date" style="max-width:fit-content" />
			<span asp-validation-for="BirthDate" class="text-danger"></span>
		</div>
		<div>
			<input class="btn btn-success" type="submit" value="Зарегистрироваться" />
		</div>
	</form>
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

@* <script>
	$(document).ready(function () {
		$('#date').datepicker({
			minDate: '1900-01-01',
			maxDate: null,
			format: 'MM/DD/YYYY',
			// popoverWidth: '100%',
			startView: 'day',
			scheme: 'light',
		});
	});
</script> *@