@using TravelSite.Models.Travels
@{
	ViewData["Title"] = "TravelPage";
}
@model TravelViewModel

<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<div class="mb-5 justify-content-center" style="display:grid; justify-self:center">
	<div>
		<label class="fs-5 mb-1 fw-bolder" style="display:grid; justify-self:center">@Model.Name</label>
	</div>
	<div>
		<label class="card-text fst-italic" style="display:grid; justify-self:center">@Model.Category</label>
	</div>
	@if (Model.PhotoGallery.Count > 0)
	{
		<div class="swiper mb-2  " style="border-radius:20px; width:800px; height:auto; align-items:center">
			<div class="swiper-wrapper" style="border-radius:10px;">
				@foreach (var photo in Model.PhotoGallery)
				{
					<div class="swiper-slide align-content-center align-self-center">
						<img src=@photo.Name width="800px" height="auto">
					</div>
				}
			</div>
			<div class="swiper-pagination" style="color:#7c858f"></div>
			<div class="swiper-button-next" style="color:#7c858f"></div>
			<div class="swiper-button-prev" style="color:#7c858f"></div>
		</div>
	}
	else
	{
		<div class="text-center">
			<img style="align-content:center; border-radius:5px" width="50%" height="auto" src="@Model.Photo" />
		</div>
	}
	@if (Model.VideoList.Count > 0)
	{
		<div class="mb-2">
			@foreach (var video in Model.VideoList)
			{
				<div style="border-radius:20px; width:800px; height:auto; align-items:center">
					<video controls src="@video.Name" alt="Gallery image" style="border-radius:20px; width:800px; height:auto; align-items:center" />
				</div>
			}
		</div>
	}
	<div>
		<p style="white-space: pre-line">@Model.Description</p>
	</div>
	<div style="display:inline-block; justify-self:center">
		@if (User.IsInRole("Admin"))
		{

			<form method="post" class="d-inline" asp-area="" asp-route-id="@Model.Id" asp-controller="Travel" asp-action="EditTravel">
				<input asp-for="Id" hidden />
				<button class="btn btn-success m-1" type="submit">
					Редактировать
				</button>
			</form>
			<form method=post class="d-inline" asp-area="" asp-route-id="@Model.Id" asp-controller="Travel" asp-action="DeleteTravel">
				<input asp-for="Id" hidden />
				<button class="btn btn-success m-1" type="submit">
					Удалить
				</button>
			</form>

		}
		<form method="post" class="d-inline" asp-area="" asp-route-id="@Model.Id" asp-controller="Booking" asp-action="PrepareAddBooking">
			<input asp-for="Id" hidden />
			<button class="btn btn-success m-1" type="submit">
				Забронировать
			</button>
		</form>
		@* 			<div>
		<label>
		Чтобы забронировать тур необходимо войти в личный кабинет, или зарегистрироваться
		</label>
		</div>
		<div class="d-inline-block">
		<form method="get" class="d-inline" asp-area="" asp-route-id="" asp-controller="Account" asp-action="Login">
		<input asp-for="Id" hidden />
		<button class="btn btn-outline-dark mb-1" type="submit">
		Войти
		</button>
		</form>
		<form method="get" class="d-inline" asp-area="" asp-controller="Account" asp-action="Register">
		<input asp-for="Id" hidden />
		<button class="btn btn-outline-dark mb-1" type="submit">
		Зарегистрироваться
		</button>
		</form>
		</div> *@
	</div>
</div>

<script>
	new Swiper('.swiper', {
		navigation: { nextEl: '.swiper-button-next', prevEl: '.swiper-button-prev' },
		pagination: { el: ".swiper-pagination", },
		loop: true
	});
</script>