@using Microsoft.AspNetCore.Identity
@using TravelSite.Data.Models
@using TravelSite.Models.Bookings
@inject UserManager<User> userManager;
@{
	ViewData["Title"] = "BookingList";
}
@model List<BookingViewModel>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">

@if (Model.Count != 0)
{
	@if (User.IsInRole("Admin"))
	{
		<div class="mb-5">
			@foreach (var group in Model.GroupBy(c => c.User?.Email).ToList())
			{
				<div class="card mb-1 w-50 m-auto">
					<label class="fw-bold fs-6">Бронирования @group.Key :</label>
					@foreach (var booking in group)
					{
						<div class="mb-1">
							<a class="text-decoration-none" method=get asp-area="" asp-controller="Booking" asp-route-id="@booking.Id" asp-action="GetBooking">
								<span class="badge bg-warning text-light mb-1">@booking.BookingNumber</span>
							</a>
							@if(booking.User!=null&&booking.Travel!=null)
							{
								<div style="color:darkgray; align-content:start">@booking.User.UserName</div>
								<div style="color:darkgray; align-content:start">@booking.Travel.Name</div>
							}
							<div style="color:darkgray; align-content:start">с @booking.From</div>
							<div style="color:darkgray; align-content:start">по @booking.To</div>
						</div>
					}
				</div>
			}
		</div>
	}
	else
	{
		var bookings = Model.Where(x => x.User?.Id == userManager.GetUserId(User)).ToList();
		if (bookings.Count != 0)
		{
			<div class="mb-5">
				<label class="fw-bold fs-5">Все бронирования</label>
				@foreach (var booking in Model.Where(x => x.User?.Id == userManager.GetUserId(User)).ToList())
				{
					<div class="card mb-1 w-50">
						<a class="text-decoration-none" method=get asp-area="" asp-controller="Booking" asp-route-id="@booking.Id" asp-action="GetBooking">
							<span class="badge bg-warning text-light mb-1">@booking.BookingNumber</span>
						</a>
						@if (booking.User != null && booking.Travel != null)
						{
							<div style="color:darkgray; align-content:start">@booking.Travel.Name</div>
						}
						<div style="color:darkgray; align-content:start">с @booking.From</div>
						<div style="color:darkgray; align-content:start">по @booking.To</div>
					</div>
				}
			</div>
		}
		else
		{
			<label class="fs-5">Бронирований пока нет</label>
		}
	}
}
else
{
	<label class="fs-5">Бронирований пока нет</label>
}


